/* #choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px; */


body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

body {
    background-color: lightgray;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

p {
    line-height: 20px;
}

.top-five-list {
    margin-top: 0px;
}
ol li{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    
}
ol li div {
    margin-top: 5px;
    font-size: 24px;
}
ol li.a{
    color: brown;
    font-weight: "900";
    
}
ol {
    padding-left: 20px;
}

#vis3 {
    padding-top: 0px;
}

#vis4 {
    /* margin-right: 20px; */
    width: 100%;
}